---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Coming Soon!</h1>
			<p>
				Welcome to the official webpage of Dave's Game Emporium. This website is currenty under construction.
			</p>
			<p>
				We currently only sell locally, and we have limited stock on <a href="https://www.ebay.com/usr/dellis1499">Ebay</a>
			</p>
			<h4>Contact Us</h4>
			<p>
			<div class="box">
			<form method="POST" action="https://formspree.io/f/mjgavpar">
				<label for="name">Full Name:</label>
				<br>
				<input id="name" type="text" name="name" pattern="[A-Za-z\s]+" required />
				<br>
				<br>
				<label for="email">Email Address:</label>
				<br>
				<input id="email" type="email" name="email" required />
				<br>
				<br>
				<label for="message">Message:</label>
				<br>
				<textarea id="message" name="message" required></textarea>
				<br>
				<button type="submint">Submit</button>
			</form>
			</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
